<% form_tag login_url(:authenticator => "password") do -%>
  <p class="input text">
    <label for="username">Username</label>
    <%= text_field_tag "username" %>
  </p>
  <p class="input password">
    <label for="password">Password</label>
    <%= password_field_tag "password" %>
  </p>
  <p class="submit button">
    <%= submit_tag "Log in" %>
  </p>
<% end -%>
